<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MCLego-Clarity Regression Suite">  
 <test name="Creater Residential Customer">
   <classes>
      <class name="jenkinsPipelinePackage.OccuranceOfCharacters"/>
   </classes>
 </test>

</suite>